@charset "utf-8";
*{
    margin:0;
    padding:0;
}
body{
    font-size:18px;
    
}
.logo img{
    border-left: #5e9ccf solid;
    margin:10px 0px 0px 50px;
}
.text-size{
    background:white;
    width: 500px;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin:0px 10px 0px 900px;
}
.input{
    margin:0px 0px 0px 20px;

}
.button-検索{
    border-radius:5px;
    background:black;
    color:white;
}
.button-標準{
    border-radius:5px;
    background:black;
    color:white;
}
.button-拡大{
    border-radius:5px;
    background:gray;
    color:white;
}
.text-size{
    font-weight: bold;
}
.menu{
    background:rgb(175, 174, 174);
    width: 450px;
    height:40px;
    border-radius: 5px;
    margin:5px 50px 0px 600px;
   
    
}
.menu ul li{
    list-style:none;
    float:left;
    
}
.menu ul li a{
    text-decoration:none;
    display:block;
    line-height:40px;
    height:40px;
    border-right:dotted black 1px;
    padding:0px 5px 0px 5px;
    color: black;
   
}
#menu-top{
    background:rgb(111, 111, 177);
    font-weight: bold;
    color:white;
}
#menu-bottom{
    border-right:none;
}
.main-menu{
    background:white;
    width:1270px;
    height:60px;
    margin:20px 0px 0px 40px;
    font-size:18px;


}
.main-menu ul li{
    list-style:none;
    float:left;
    
    
}
.main-menu ul li a{
    text-decoration:none;
    display:block;
    height:60px;
    line-height:60px;
    padding: 0px 8px 0px 8px;
    border-right: black 1px dotted;
    color:blue;

}
#bottom-menu{
    line-height:30px;
}
#top-menu{
    color:orangered;
    border-left:black 1px dotted;
    border-bottom:red 2px solid;
}
#line{
    content:"";
    width:100%;
    height:2px;
    background-color:blue;
}
.title{
    background:white;
    width:400px;
    height:50px;
    margin:40px 20px 0px 550px;
}
.title span{
    font-size:25px;
    color:orangered;
    font-weight: bold;

}
#img{
    width:1270px;
    height:300px;
    margin:10px 0px 0px 40px;

}
.bottom-event{
    background:white;
    width:600px;
    height:50px;
    margin: 0px 0px 0px 820px;
    
}
.bottom-event ul li{
    list-style:none;
    margin:0px 6px 0px 6px;
    
    
    
}
.bottom-event ul li span{
    float:left;
    width:250px;
    height:50px;
    background:white;
    box-shadow:rgb(219, 219, 224) 4px 4px 0px;
    line-height:50px;
    text-align:center;
    margin:0px 6px;
    border-left:blue 5px solid;
    
    
    
    
}
.bottom-event ul li a{
    text-decoration:none;
    color:blue;
}
#fb{
    width:50px;
    height:50px;
    border-radius: 50px;
    
}
#tt{
    width:50px;
    height:50px;
    border-radius: 5px;
    
}
#yt{
    width:50px;
    height:50px;
    border-radius: 5px;
    
}
#mail{
    width:50px;
    height:50px;
    border-radius: 5px;
    
}
.お知らせ{
    background:white;
    width:1270px;
    height:200px;
    margin:20px 0px 0px 40px;
    border:blue 2px solid;
}
.お知らせ h2{
    background:blue;
    text-indent:20px;
    color:white;
    font-size:25px;
    padding:5px 5px;
    
}
.お知らせ li{
    list-style:none;
    padding:20px 20px;
}
.お知らせ span{
    color:red;
}
.お知らせ li a{
    text-decoration:none;
    color:blue;
}


